@charset "UTF-8";


.icon-android:before { content: '\26'; } /* '&amp;' */
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-gplus-2:before { content: '\e805'; } /* '' */
.icon-wikipedia:before { content: '\2c'; } /* ',' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-foursquare:before { content: '\34'; } /* '4' */
.icon-html5:before { content: '\35'; } /* '5' */
.icon-twitter-1:before { content: '\54'; } /* 'T' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-github:before { content: '\67'; } /* 'g' */
.icon-tumblr-1:before { content: '\74'; } /* 't' */
.icon-wordpress:before { content: '\77'; } /* 'w' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-left:before { content: '\2190'; } /* '←' */
.icon-up:before { content: '\2191'; } /* '↑' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-down:before { content: '\2193'; } /* '↓' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-eject:before { content: '\23cf'; } /* '⏏' */
.icon-to-end:before { content: '\23ed'; } /* '⏭' */
.icon-to-start:before { content: '\23ee'; } /* '⏮' */
.icon-stop:before { content: '\25aa'; } /* '▪' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-th-list:before { content: '\e80a'; } /* '' */
.icon-layout:before { content: '\268f'; } /* '⚏' */
.icon-th:before { content: '\e809'; } /* '' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-pencil-neg:before { content: '\270f'; } /* '✏' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-quote-left:before { content: '\275d'; } /* '❝' */
.icon-quote-right:before { content: '\275e'; } /* '❞' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-forward:before { content: '\27a6'; } /* '➦' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-th-large:before { content: '\e708'; } /* '' */
.icon-reply:before { content: '\e712'; } /* '' */
.icon-reply-all:before { content: '\e713'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-doc:before { content: '\e730'; } /* '' */
.icon-doc-inv:before { content: '\e731'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-rss-1:before { content: '\e80b'; } /* '' */
.icon-rss-alt:before { content: '\e73b'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-list:before { content: '\e782'; } /* '' */
.icon-off:before { content: '\e78e'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-twitter-2:before { content: '\f099'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus-1:before { content: '\f0d5'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github-3:before { content: '\f113'; } /* '' */
.icon-github-2:before { content: '\f300'; } /* '' */
.icon-github-squared:before { content: '\e804'; } /* '' */
.icon-facebook-1:before { content: '\e807'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird-1:before { content: '\e801'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-github-1:before { content: '\f308'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-vimeo:before { content: '\e806'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-tumblr:before { content: '\f311'; } /* '' */
.icon-blogger:before { content: '\f314'; } /* '' */
.icon-deviantart:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-lastfm-1:before { content: '\e808'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-wordpress-1:before { content: '\f31d'; } /* '' */
.icon-stumbleupon:before { content: '\e803'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */
.icon-target:before { content: '🎯'; } /* '\1f3af' */
.icon-user:before { content: '👤'; } /* '\1f464' */